[general]
state_file = /etc/awslogs/state.pid
use_gzip_http_content_encoding = true

{% for log_stream in log_streams %}
[{{ log_stream.log_group_name }}]
{% if log_stream.date_format is defined %}
datetime_format = {{ log_stream.date_format }}
{% endif %}
file = {{ log_stream.file_dir }}/{{ log_stream.file_name }}
log_stream_name = {instance_id}
log_group_name = {{ log_stream.log_group_name }}
{% endfor %}
